global:
  # Config file syntax version (not same as script version)
  version: 1.3
  # Relevant dataset paths, please use the ZFS dataset syntax such as: tank/apps
  dataset:
   # dataset for internal jail config files
   config: tank/apps
   # Media library dataset
   media: tank/media
   # Parent downloads dataset 
   # (is going to contain: Complete and Incomplete datasets for downloads)
   downloads: tank/downloads

jail:
  plex:
    blueprint: plex
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1
    beta: false

  lidarr:
    blueprint: lidarr
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  sonarr:
    blueprint: sonarr
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  radarr:
    blueprint: radarr
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  bazarr:
    blueprint: bazarr
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  kms:
    blueprint: kms
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  jackett:
    blueprint: jackett
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  organizr:
    blueprint: organizr
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  tautulli:
    blueprint: tautulli
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1

  transmission:
    blueprint: transmission
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1


  nextcloud:
    blueprint: nextcloud
    ip4_addr: 192.168.1.99/24
    gateway: 192.168.1.1
    time_zone: Europe/Amsterdam
    host_name: cloud.example.com
    link_mariadb: "mariadb"
    admin_password: "PUTYOUROWNADMINPASSWORDHERE"
    mariadb_password: "PLEASEALSOPUTYOURPASSWORDHEREADIFFERNTONE"

  mariadb:
    blueprint: mariadb
    ip4_addr: 192.168.1.98/24
    gateway: 192.168.1.1
    root_password: ReplaceThisWithYourOwnRootPAssword
    host_name: mariadb.local.example

  bitwarden:
    blueprint: bitwarden
    ip4_addr: 192.168.1.97/24
    gateway: 192.168.1.1
    link_mariadb: "mariadb"
    mariadb_password: "YourDBPasswordHerePLEASE"
    admin_token: "PUTYOURADMINTOKENHEREANDREMOVETHIS"

  influxdb:
    blueprint: influxdb
    ip4_addr: 192.168.1.250/24
    gateway: 192.168.1.1

  unifi:
    blueprint: unifi
    ip4_addr: 192.168.1.251/24
    gateway: 192.168.1.1
    poller: true
    link_influxdb: influxdb
    influxdb_password: unifi-poller
    poller_password: upoller

  grafana:
    blueprint: grafana
    ip4_addr: 192.168.1.100/24
    gateway: 192.168.1.1
    password: grafana
    link_influxdb: influxdbjail
    datasource_name: Unifi Controller
    datasource_database: unifi
    datasource_user: unifi
    datasource_password: unifi-poller
	
  forked_daapd:
    blueprint: forked_daapd
    ip4_addr: 192.168.1.252/24
    gateway: 192.168.1.1
    itunes_media: /mnt/itunes

  traefik:
    blueprint: traefik
    ip4_addr: 192.168.1.250/24
    gateway: 192.168.1.1
	dashboard: true
	domain_name: traefik.test.placeholder.net
	dns_provider: cloudflare
	cert_staging: true
	cert_email: fake@email.net
	cert_wildcard_domain: test.placeholder.net
	# Please follow the guide here: https://docs.traefik.io/https/acme/
	# and enter your DNS providers environment variables below (2 spaces indent) of cert_env
	cert_env:
	  CF_API_EMAIL: fake@email.adress
	  CF_API_KEY: ftyhsfgufsgusfgjhsfghjsgfhj
